@charset "utf-8";
/* CSS Document */

/*Tự định dạng*/
.banner
{
	background:url("../images/head-page-bg.jpg");
	height:120px;
	margin:-125px auto;
	width:100%;
	position:absolute;
}

.header
{
	background:url("../images/title-home-info-box-bg.jpg")  no-repeat scroll left center transparent;
	height:35px;
	width:500px;
	position:static;
	text-align:left;
}

.header span
{
	color:#09F;
	font-size:18px;
	margin-left:20px;
}

.header-content
{
	width:500px;
}

.main-info
{
	padding:0 20px;
}

.main
{
	background-color:#FFF;
	height:100%;
	position:static;
	margin:125px auto;
	padding:5px 5px;
	width:1000px;
}

.left-header
{
	background:url("../images/title-box-bg-1.jpg") no-repeat scroll left top #1485B5;
	width:180px;
	height:33px;
	color:#1888B6;
	cursor:default;
	font-size:15px;
	font-weight:bold;
	position:relative;
}

.left-header span
{
	top:7px;
	position:relative;
}

.left-menu
{
	width:180px;
	height:95px;
	position:relative;
	background-color:#00c41a;
}

.left-DanhMuc
{
	height:360px;
	position:relative;
}

.left-DanhMuc li a,.left-CaSi li a,.left-PlayList li a
{
	background:url("../images/menu-box-bg.jpg")  no-repeat scroll left center transparent;
	height:20px;
	width:165px;
	display:block;
	overflow:hidden;
	padding-top:5px;
	padding-left:15px;
	font-weight:bold;
	font-size:11px;
	color:#360;
}

.left-DanhMuc li a:hover,.left-CaSi li a:hover,.left-PlayList li a:hover
{
	background:url("../images/menu-box-bg-active.jpg")  no-repeat scroll left center transparent;
	height:20px;
	width:165px;
	display:block;
	overflow:hidden;
	padding-top:5px;
	padding-left:15px;
	font-weight:bold;
	font-size:11px;
	color:#360;
}

.left-CaSi,.left-PlayList
{
	height:250px;
	position:relative;
}

.left-col
{
	width:15%;
}

.mid-col
{
	width:60%;
}

.right-col
{
	width:25%;
}

.right-username
{
	background:url(../images/title-box-bg.jpg);
	height:25px;
	width:220px;
	color:#FFF;
	font-size:16px;
	padding-top:10px;
	padding-left:18px;
	margin-top:130px;
}

.right-login,.right-search
{
	float:left;
	height:120px;
	padding:5px 0 0 5px;
	position:relative;
	width:234px;
	background-color:#6F9;
}

.right-userinfo
{
	background:url("../images/login-body-box-bg.jpg") no-repeat scroll left top transparent;
	height:100px;
	padding-left:14px;
	padding-top:8px;
}

.right-userinfo li
{
	background:url("../images/login-box-pointer.jpg") no-repeat scroll left center transparent;
	padding:2px 0 2px 18px;
}

.right-content
{
	width:100%;
	position:relative;
	float:left;
}

.header-list
{
	background:url("../images/body-bg.jpg") repeat-x scroll left bottom #FFFFFF;
	height:25px;
	font-size:24px;
	font-weight:bold;
	padding-top:10px;
	color:#09F;
}

.main-content
{
	border:1px solid #AEAEAE;
	margin-bottom:5px;
	overflow:hidden;
	padding:5px;
}

.song-icon
{
	float:left;
	width:20px;
	height:20px;
	margin-top:15px;
}

.song-info
{
	border-bottom:1px solid #ECECEC;
	clear:both;
	line-height:16px;
	overflow:hidden;
	padding:3px 0;
	width:488px;
}

/*Thêm bài hát - sau_con_89*/
.worms_field
{
	height:30px;
	text-align:left;
	vertical-align:middle;
}
.worms_left
{	
	float:left;
	width:150px;
}
/*-------------------------*/

/*Tham khảo của trang nhaccuatui.com*/
body
{
	background:url("../images/main-body-bg.jpg") no-repeat scroll center 120px #DCDCDC;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	font-size:12px;
	line-height:18px;
	height:100%;
}

ul, li, ol, dl, dt, dd 
{
	list-style:none outside none;
}

fieldset, img, iframe 
{
	border:0 none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td 
{
	margin:0;
	padding:0;
}

a
{
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

.pointer
{
	height:28px;
	width:180px;
	
}

.pointer li
{	
	background:url("../images/menu-box-bg-pointer-last.jpg")  no-repeat scroll left center transparent;
	height:25px;
	width:180px;
	display:block;
	overflow:hidden;
	padding-top:5px;
}

.pointer li:hover
{	
	background:url("../images/pointer.jpg")  no-repeat scroll left center transparent;
	height:25px;
	width:180px;
	display:block;
	overflow:hidden;
	padding-top:5px;
}

.pointer li a, .pointer li a:hover
{
	margin-left:20px;
	color:#0F0;
	font-weight:bold;
}

td a
{
	font-weight:normal;
	color:#06F;
}

td a:hover
{
	font-weight:normal;
	color:#F90;
}

.last
{
	height:25px;
	width:180px;
}
