@charset "utf-8";
/* CSS Document */

/*Định dạng cho các thẻ HTML*/

/*Phần này tham khảo từ trang nhaccuatui.com*/
body
{
	background:url("../images/main-body-bg.jpg") no-repeat scroll center 120px #DCDCDC;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	font-size:12px;
	line-height:18px;
	height:100%;
}

ul, li, ol, dl, dt, dd 
{
	list-style:none outside none;
}

img
{
	border:0 none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td 
{
	margin:0;
	padding:0;
}

a
{
	text-decoration:none;
	font-weight:bold;
	color:#1888B6;
}

/*--------------------------*/


/*Class tự định dạng*/
/*TakiNT*/

.banner
{
	background:url("../images/head-page-bg.jpg");
	height:auto;
	margin:0 auto;
	width:100%;
	position:relative;
}

.header
{
	background:url("../images/title-home-info-box-bg.jpg")  no-repeat scroll left center transparent;
	height:35px;
	width:500px;
	position:static;
	text-align:left;
}

.header span
{
	color:#09F;
	font-size:18px;
	margin-left:20px;
}

.header-content
{
	width:480px;
}

.main-info
{
	padding:0 20px;
}

.main
{
	background-color:#FFF;
	height:auto;
	margin:0 auto;
	padding:5px 5px 5px 5px;
	width:1000px;
	overflow:hidden;
}

.footer
{
	background-color:#FFFFFF;
	/*background:url("../images/footer-bg.jpg") repeat-x scroll left bottom #FFFFFF;*/
	height:auto;
	margin:0 auto;
	overflow:hidden;
	padding:10px 5px 5px;
	width:990px;
}

.left-col
{
	width:19%;
	float:left;
}

.right-mid
{
	width:81%;
	float:right;
}

.mid-col
{
	width:66%;
	float:left;
}

.right-col
{
	width:33%;
	float:right;
	margin-right:3px;
}
/*---------------------------------------*/

/*Left Col*/

.left-header
{
	background:url("../images/title-box-bg-1.jpg") no-repeat scroll left top #1485B5;
	width:180px;
	height:33px;
	color:#1888B6;
	cursor:default;
	font-size:15px;
	font-weight:bold;
	position:relative;
}

.left-header span
{
	top:7px;
	position:relative;
}

.left-menu
{
	width:180px;
	height:95px;
	position:relative;
	background-color:#00c41a;
}

.left-DanhMuc,.left-CaSi,.left-PlayList
{
	/*height:360px;*/
	position:relative;
}

.left-DanhMuc li a,.left-CaSi li a,.left-PlayList li a
{
	background:url("../images/menu-box-bg.jpg")  no-repeat scroll left center transparent;
	height:20px;
	width:165px;
	display:block;
	overflow:hidden;
	padding-top:5px;
	padding-left:15px;
	font-weight:bold;
	font-size:11px;
	color:#360;
}

.left-DanhMuc li a:hover,.left-CaSi li a:hover,.left-PlayList li a:hover
{
	background:url("../images/menu-box-bg-active.jpg")  no-repeat scroll left center transparent;
	height:20px;
	width:165px;
	display:block;
	overflow:hidden;
	padding-top:5px;
	padding-left:15px;
	font-weight:bold;
	font-size:11px;
	color:#360;
}

.pointer
{
	height:28px;
	width:180px;
	
}

.pointer li
{	
	background:url("../images/menu-box-bg-pointer-last.jpg")  no-repeat scroll left center transparent;
	height:25px;
	width:180px;
	display:block;
	overflow:hidden;
	padding-top:5px;
}

.pointer li:hover
{	
	background:url("../images/pointer.jpg")  no-repeat scroll left center transparent;
	height:25px;
	width:180px;
	display:block;
	overflow:hidden;
	padding-top:5px;
}

.pointer li a, .pointer li a:hover
{
	margin-left:20px;
	color:#360;
	font-weight:bold;
}

.last
{
	height:25px;
	width:180px;
}
/*--------------------------------------*/

/*Right Col*/
#idLoginBox
{
	position:relative;
	height:auto;
	margin-bottom:5px;
}

.right-admininfo
{
	background:url("../images/admin-bg.jpg") no-repeat scroll left top transparent;
	height:auto;
	padding-left:14px;
	padding-top:5px;
	margin-top:-16px;
}

.right-admininfo li
{
	color:#6FF;
	background:url("../images/bg-pointer-admin.jpg") no-repeat scroll left center transparent;
	padding:2px 0 2px 18px;
}

.right-admininfo ul,.right-userinfo ul
{
	color:#FF3;
	padding:2px 0 2px 18px;
}

.right-admininfo li a
{
	color:#FF3;
}

.right-username
{
	background:url("../images/title-box-bg.jpg") no-repeat scroll;
	height:33px;
	width:255px;
	color:#FFF;
	font-size:16px;
	padding-top:5px;
	padding-left:18px;
	margin-bottom:5px;
}



.right-login,.right-search
{
	background:url("../images/loginbox-bg.png") no-repeat scroll;
	height:140px;
	padding:20px 0 0 40px;
	width:100%;
}

.right-userinfo
{
	background:url("../images/login-body-box-bg.jpg") no-repeat scroll;
	height:auto;
	padding-left:14px;
	padding-top:8px;
	margin-top:-15px;
	margin-left:15px;
	width:275px;
}

.right-userinfo li
{
	background:url("../images/login-box-pointer.jpg") no-repeat scroll left center transparent;
	padding:2px 0 2px 18px;
}

.right-content
{
	width:100%;
	position:relative;
	float:left;
}

.right-login a
{
	font-weight:normal;
	color:#06F;
}

.right-login a:hover
{
	font-weight:normal;
	color:#F90;
}
/*---------------------------------------*/

/*Mid Col*/
.cp-title
{
	background-color:#1685B4;
	color:#FFF;
	height:25px;
	width:100%;
	font-family:Tahoma;
	font-size:20px;
	top:3px;
	padding-top:10px;
}

.add-cp
{
	float:right;
	margin-right:15px;
	margin-top:-7px;
	width:30px;
	height:30px;
	background:url("../images/btnAdd.png") no-repeat scroll left center transparent;
}

.remove-cp
{
	float:right;
	margin-right:15px;
	margin-top:-7px;
	width:30px;
	height:30px;
	background:url("../images/btnRemove.png") no-repeat scroll left center transparent;
}

.header-list
{
	background:url("../images/body-bg.jpg") repeat-x scroll left bottom #FFFFFF;
	height:25px;
	font-size:24px;
	font-weight:bold;
	padding-top:10px;
	color:#09F;
	
}

.main-content
{
	border:1px solid #AEAEAE;
	margin-bottom:5px;
	overflow:hidden;
	padding:5px;
}

.song-title
{
	background-color:#1685B4;
	color:#FFF;
	height:25px;
	width:500px;
	font-family:Tahoma;
	font-size:20px;
	left:20px;
	position:relative;
	top:3px;
	padding-top:10px;
	padding-left:10px;
}

.song-icon
{
	float:left;
	width:20px;
	height:20px;
	margin-top:15px;
}

.song-info
{
	border-bottom:1px solid #ECECEC;
	clear:both;
	line-height:16px;
	overflow:hidden;
	padding:3px 0;
	width:488px;
}

.song-info a
{
	font-weight:normal;
}
/*--------------------------*/

/*Thêm bài hát - sau_con_89*/
.worms_field
{
	height:30px;
	text-align:left;
	vertical-align:middle;
}
.worms_left
{	
	float:left;
	width:150px;
}
/*-------------------------*/
.left_div {
	text-align: left;
	float: left;
	height: 30px;
	width:30%;
}

.right_div {
	text-align: left;
	float: right;
	height: 30px;
	width:70%;
}

