@charset "utf-8";
/* CSS Document */

/*Tự định dạng*/
.banner
{
	background:url("../images/head-page-bg.jpg");
	height:120px;
	margin:-125px auto;
	width:100%;
	position:absolute;
}

.main
{
	background-color:#FFF;
	height:100%;
	position:static;
	margin:125px auto;
	padding:5px 5px;
	width:1000px;
}

.left-header
{
	background:url("../images/title-box-bg-1.jpg") no-repeat scroll left top #1485B5;
	width:180px;
	height:33px;
	color:#1888B6;
	cursor:default;
	font-size:15px;
	font-weight:bold;
	position:relative;
}

.left-header span
{
	top:7px;
	position:relative;
}

.left-menu
{
	width:180px;
	height:100px;
	position:relative;
}

.left-col
{
	width:15%;
}

.mid-col
{
	width:60%;
}

.right-col
{
	width:25%;
}

.main-content
{
	
}

/*Thêm bài hát - sau_con_89*/
.worms_field
{
	height:30px;
	text-align:left;
	vertical-align:middle;
}
.worms_left
{	
	float:left;
	width:150px;
}
/*-------------------------*/

/*Tham khảo của trang nhaccuatui.com*/
body
{
	
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	font-size:12px;
	line-height:18px;
	height:100%;
}

ul, li, ol, dl, dt, dd 
{
	list-style:none outside none;
}

fieldset, img, iframe 
{
	border:0 none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td 
{
	margin:0;
	padding:0;
}

a
{
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

.pointer
{
	height:28px;
	width:180px;
	
}

.pointer li
{	
	background:url("../images/menu-box-bg-pointer-last.jpg")  no-repeat scroll;
	height:25px;
	width:180px;
	display:block;
	overflow:hidden;
	padding-top:5px;
}

.pointer li a
{
	margin-left:20px;
}

.last
{
	height:25px;
	width:180px;
}
