-- phpMyAdmin SQL Dump
-- version 3.2.0.1
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Jun 27, 2010 at 02:56 AM
-- Server version: 5.1.36
-- PHP Version: 5.3.0

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";

--
-- Database: `fantasy_music`
--

-- --------------------------------------------------------

--
-- Table structure for table `banned`
--

CREATE TABLE IF NOT EXISTS `banned` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `DateBanned` date DEFAULT NULL,
  `DataUnbanned` date DEFAULT NULL,
  `UserID` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `BANNED_USER` (`UserID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

--
-- Dumping data for table `banned`
--


-- --------------------------------------------------------

--
-- Table structure for table `bit_rate`
--

CREATE TABLE IF NOT EXISTS `bit_rate` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `BitRate` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=7 ;

--
-- Dumping data for table `bit_rate`
--

INSERT INTO `bit_rate` (`ID`, `BitRate`) VALUES
(1, 32),
(2, 64),
(3, 128),
(4, 192),
(5, 256),
(6, 320);

-- --------------------------------------------------------

--
-- Table structure for table `comment`
--

CREATE TABLE IF NOT EXISTS `comment` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `UserID` int(11) DEFAULT NULL,
  `SongID` int(11) DEFAULT NULL,
  `CreateDate` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `COMMENT_USER` (`UserID`),
  KEY `COMMENT_SONG` (`SongID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

--
-- Dumping data for table `comment`
--


-- --------------------------------------------------------

--
-- Table structure for table `comment_detail`
--

CREATE TABLE IF NOT EXISTS `comment_detail` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `CommentID` int(11) DEFAULT NULL,
  `Content` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `CONTENT_COMMENT` (`CommentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

--
-- Dumping data for table `comment_detail`
--


-- --------------------------------------------------------

--
-- Table structure for table `location`
--

CREATE TABLE IF NOT EXISTS `location` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Local` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=64 ;

--
-- Dumping data for table `location`
--


-- --------------------------------------------------------

--
-- Table structure for table `myweb`
--

CREATE TABLE IF NOT EXISTS `myweb` (
  `WebName` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `DownloadWaitTime` int(11) DEFAULT NULL,
  `NumberInPage` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Dumping data for table `myweb`
--

INSERT INTO `myweb` (`WebName`, `DownloadWaitTime`, `NumberInPage`) VALUES
('anbam.com', 90, 10);

-- --------------------------------------------------------

--
-- Table structure for table `playlist`
--

CREATE TABLE IF NOT EXISTS `playlist` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `CreateDate` date DEFAULT NULL,
  `ListenCount` int(11) DEFAULT NULL,
  `DownLoadCount` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=4 ;

--
-- Dumping data for table `playlist`
--

INSERT INTO `playlist` (`ID`, `CreateDate`, `ListenCount`, `DownLoadCount`) VALUES
(1, '2010-06-04', 0, 0),
(2, '2010-06-02', 0, 0),
(3, '2010-06-09', 0, 0);

-- --------------------------------------------------------

--
-- Table structure for table `playlist_detail`
--

CREATE TABLE IF NOT EXISTS `playlist_detail` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `PlayListID` int(11) DEFAULT NULL,
  `SongID` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `DETAIL_PLAYLIST` (`PlayListID`),
  KEY `PLAYLIST_SONG` (`SongID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

--
-- Dumping data for table `playlist_detail`
--


-- --------------------------------------------------------

--
-- Table structure for table `rating`
--

CREATE TABLE IF NOT EXISTS `rating` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `SongID` int(11) DEFAULT NULL,
  `UserID` int(11) DEFAULT NULL,
  `Rate` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `RATING_USER` (`UserID`),
  KEY `RATING_SONG` (`SongID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

--
-- Dumping data for table `rating`
--


-- --------------------------------------------------------

--
-- Table structure for table `singer`
--

CREATE TABLE IF NOT EXISTS `singer` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `SingerName` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `ZoneID` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `SINGER_ZONE` (`ZoneID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=33 ;

--
-- Dumping data for table `singer`
--


-- --------------------------------------------------------

--
-- Table structure for table `song`
--

CREATE TABLE IF NOT EXISTS `song` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `SongName` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `StyleID` int(11) DEFAULT NULL,
  `OwnerID` int(11) DEFAULT NULL,
  `SingerID` int(11) DEFAULT NULL,
  `Writter` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `DateUp` date DEFAULT NULL,
  `ListenCount` int(11) DEFAULT NULL,
  `DownloadCount` int(11) DEFAULT NULL,
  `BitRateID` int(11) DEFAULT NULL,
  `Rate` float DEFAULT NULL,
  `Source` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `Clip` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Source` (`Source`),
  KEY `SONG_BITRATE` (`BitRateID`),
  KEY `SONG_STYLE` (`StyleID`),
  KEY `SONG_USER` (`OwnerID`),
  KEY `SONG_SINGER` (`SingerID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=57 ;

--
-- Dumping data for table `song`
--


-- --------------------------------------------------------

--
-- Table structure for table `song_style`
--

CREATE TABLE IF NOT EXISTS `song_style` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `StyleName` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=15 ;

--
-- Dumping data for table `song_style`
--

INSERT INTO `song_style` (`ID`, `StyleName`) VALUES
(1, 'Nhạc Trẻ'),
(2, 'Nhạc RAP'),
(3, 'Nhạc phim'),
(4, 'Nhạc Hoa'),
(5, 'Nhạc Hàn'),
(6, 'Nhạc Nhật'),
(7, 'Nhạc Anh'),
(8, 'Nhạc Rock'),
(9, 'HipHop'),
(10, 'Nhạc Cách Mạng'),
(11, 'Nhạc Trữ Tình'),
(12, 'Nhạc Thiếu Nhi'),
(13, 'Nhạc Hòa Tấu'),
(14, 'Thể Loại Khác');

-- --------------------------------------------------------

--
-- Table structure for table `user`
--

CREATE TABLE IF NOT EXISTS `user` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `UserName` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `Pass` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `UserStyleID` int(11) DEFAULT NULL,
  `PlayListID` int(11) DEFAULT NULL,
  `IsDelete` tinyint(1) DEFAULT NULL,
  `IsBaned` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `USER_STYLE` (`UserStyleID`),
  KEY `USER_PLAYLIST` (`PlayListID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=4 ;

--
-- Dumping data for table `user`
--

INSERT INTO `user` (`ID`, `UserName`, `Pass`, `UserStyleID`, `PlayListID`, `IsDelete`, `IsBaned`) VALUES
(1, 'TakiNT', '123456', 1, 1, 0, 0),
(2, 'sau_con_89', '123456', 2, 2, 0, 0),
(3, 'vuongteo', '123456', 2, 3, 0, 0);

-- --------------------------------------------------------

--
-- Table structure for table `user_info`
--

CREATE TABLE IF NOT EXISTS `user_info` (
  `FullName` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `UserID` int(11) DEFAULT NULL,
  `Birthday` date DEFAULT NULL,
  `JoinDay` date DEFAULT NULL,
  `Email` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `LocationID` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `INFO_LOCATION` (`LocationID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=4 ;

--
-- Dumping data for table `user_info`
--

INSERT INTO `user_info` (`FullName`, `ID`, `UserID`, `Birthday`, `JoinDay`, `Email`, `LocationID`) VALUES
('Lê Ngọc Tín', 1, 1, '1989-01-15', '2010-05-31', 'taki_lnt@yahoo.com', 61),
('Nguyễn Hải Bình', 2, 2, '1989-02-07', '2010-05-31', 'sau_con_89@yahoo.com', 58),
('Vương Quốc Toàn', 3, 2, '1989-11-08', '2010-05-31', 'vuongtoan_theking@yahoo.com', 58);

-- --------------------------------------------------------

--
-- Table structure for table `user_style`
--

CREATE TABLE IF NOT EXISTS `user_style` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `UserStyle` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=3 ;

--
-- Dumping data for table `user_style`
--

INSERT INTO `user_style` (`ID`, `UserStyle`) VALUES
(1, 'Admin'),
(2, 'User');

-- --------------------------------------------------------

--
-- Table structure for table `waiting_song`
--

CREATE TABLE IF NOT EXISTS `waiting_song` (
  `SongName` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `StyleID` int(11) NOT NULL,
  `OwnerID` int(11) NOT NULL,
  `SingerID` int(11) NOT NULL,
  `Writter` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `DateUp` date NOT NULL,
  `BitRateID` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Dumping data for table `waiting_song`
--


-- --------------------------------------------------------

--
-- Table structure for table `zone`
--

CREATE TABLE IF NOT EXISTS `zone` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `ZoneName` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=4 ;

--
-- Dumping data for table `zone`
--

INSERT INTO `zone` (`ID`, `ZoneName`) VALUES
(1, 'Việt Nam'),
(2, 'Châu Á'),
(3, 'Âu Mỹ');